<div id="left" class="outline-view">
  <div id="DocumentTitles">
    <ul id="document-list">
      
    </ul>
  </div>
  <ul class="toolbar">
    <li>
      <a id="create-document" href="/documents/new">+</a>
    <li>
    <li>
      <a id="delete-document" href="#">-</a>
    </li>
  </ul>
</div>

<div class="content-divider">

</div>

<div class="content">
  <div id="html-container" style="display: none">

  </div>
  <div id="editor-container">
    <div class="title">
      <input class="title" name="d[title]">
    </div>
    <textarea id="editor" name="d[data]" ></textarea>
  </div>
</div>

<ul id="controls" class="toolbar">
  <li>
    <a id="save-button" href="#">Save</a>
  </li>
  <li>
    <a id="html-button" href="#">HTML</a>
  </li>
</ul>