# Heroku environmental variables.
# https://devcenter.heroku.com/articles/config-vars
.env

# old files
old/

# npm packages
node_modules

# bower packages
client/js/vendor/

#dist
client/dist/

# Mac
.DS_Store

# Emacs
*~